Repository thomasdavis/symploke: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm biome lint {staged_files}
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm turbo type-check --filter=...[HEAD]

Add members page with reusable PageHeader and MembersTable components
  apps/web/src/app/plexus/[id]/members/page.tsx
  packages/design/package.json
  packages/design/src/components/members-table.css
  packages/design/src/components/page-header.css
  packages/ui/package.json
  packages/ui/src/MembersTable/MembersTable.tsx
  packages/ui/src/PageHeader/PageHeader.tsx
Due: format, lint, type-check

Add repos page and refactor to use abstract Table component
  apps/web/src/app/plexus/[id]/repos/page.tsx
  packages/design/package.json
  packages/design/src/components/members-table.css
  packages/design/src/components/repos-table.css
  packages/design/src/components/table.css
  packages/ui/package.json
  packages/ui/src/MembersTable/MembersTable.tsx
  packages/ui/src/ReposTable/ReposTable.tsx
  packages/ui/src/Table/Table.tsx
Due: format, lint, type-check

Add API endpoints for Add Repository feature with GitHub integration structure
  ADD_REPOSITORY_DESIGN.md
  apps/web/package.json
  apps/web/src/app/api/github/organizations/route.ts
  apps/web/src/app/api/github/repositories/route.ts
  apps/web/src/app/api/plexus/[id]/repositories/route.ts
  pnpm-lock.yaml
Due: format, lint, type-check

Add functional Add Repository dialog with GitHub org and repo selection
  apps/web/src/app/plexus/[id]/repos/ReposPageClient.tsx
  apps/web/src/app/plexus/[id]/repos/page.tsx
  packages/design/package.json
  packages/design/src/components/add-repo-dialog.css
  packages/design/src/components/dialog.css
  packages/ui/package.json
  packages/ui/src/AddRepoDialog/AddRepoDialog.tsx
  pnpm-lock.yaml
Due: format, lint, type-check

Implement GitHub App authentication for repository access
  apps/web/package.json
  apps/web/src/app/api/github/app/callback/route.ts
  apps/web/src/app/api/github/organizations/route.ts
  apps/web/src/app/api/github/repositories/route.ts
  apps/web/src/app/api/plexus/[id]/repositories/route.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/github-app.ts
  apps/web/src/types/next-auth.d.ts
  packages/db/prisma/schema.prisma
  packages/design/src/components/add-repo-dialog.css
  packages/ui/src/AddRepoDialog/AddRepoDialog.tsx
  pnpm-lock.yaml
Due: format, lint, type-check

Fix session token error with null check for token.accessToken
  apps/web/src/lib/auth.ts
Due: format, lint, type-check

Remove max-width constraint from header to span full viewport width
  apps/web/src/components/Header.css
Due: none

Add engine CLI reset command and documentation
  apps/engine/.env.example
  apps/engine/Dockerfile
  apps/engine/package.json
  apps/engine/src/cli/index.ts
  apps/engine/src/config.ts
  apps/engine/src/github/client.ts
  apps/engine/src/github/index.ts
  apps/engine/src/github/rate-limiter.ts
  apps/engine/src/index.ts
  apps/engine/src/pusher/index.ts
  apps/engine/src/pusher/service.ts
  apps/engine/src/queue/index.ts
  apps/engine/src/queue/processor.ts
  apps/engine/src/sync/file-sync.ts
  apps/engine/src/sync/index.ts
  apps/engine/src/sync/repo-sync.ts
  apps/engine/src/sync/tree-fetcher.ts
  apps/engine/src/utils/file-utils.ts
  apps/engine/src/utils/index.ts
  apps/engine/tsconfig.json
  apps/web/.env.example
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/api/plexus/[id]/repositories/[repoId]/sync/route.ts
  apps/web/src/app/api/pusher/auth/route.ts
  apps/web/src/app/plexus/[id]/repos/ReposPageClient.tsx
  apps/web/src/app/plexus/[id]/repos/[repoId]/RepoDetailClient.tsx
  apps/web/src/app/plexus/[id]/repos/[repoId]/page.tsx
  apps/web/src/app/plexus/[id]/repos/[repoId]/repo-detail.css
  apps/web/src/hooks/useSyncProgress.ts
  apps/web/src/lib/pusher/client.ts
  claude.md
  packages/db/prisma/schema.prisma
  packages/design/src/components/repos-table.css
  packages/ui/src/ReposTable/ReposTable.tsx
  pnpm-lock.yaml
  railway.json
Due: format, lint, type-check

Fix Dockerfile: copy Prisma schema before pnpm install
  apps/engine/Dockerfile
Due: none

Start health check server before loading config
  apps/engine/src/index.ts
Due: format, lint, type-check

Add debug logging and top-level error handlers
  apps/engine/src/index.ts
Due: format, lint, type-check

Fix Dockerfile: copy entire workspace to preserve pnpm symlinks
  apps/engine/Dockerfile
Due: none

Simplify Dockerfile to single stage build
  apps/engine/Dockerfile
Due: none

Fix package.json exports to point to compiled JS instead of TS source
  RAILWAY_DEBUG.md
  packages/db/package.json
  packages/logger/package.json
Due: format

Add declaration and rootDir to logger/db tsconfig
  packages/db/tsconfig.json
  packages/logger/tsconfig.json
Due: format

Remove test script from env package (no test files exist)
  packages/env/package.json
Due: format

Remove test scripts from packages without test files
  packages/ai/package.json
  packages/errors/package.json
  packages/ui/package.json
Due: format

Fix TypeScript type errors and lint issues
  apps/engine/src/queue/processor.ts
  apps/web/src/app/api/github/debug/cleanup-installations/route.ts
  apps/web/src/app/api/github/repositories/route.ts
  apps/web/src/app/api/plexus/[id]/repositories/[repoId]/sync/route.ts
  apps/web/src/app/api/plexus/route.ts
  apps/web/src/app/page.tsx
  packages/db/src/index.ts
Due: format, lint, type-check

Improve relative time formatting in ReposTable
  packages/ui/src/ReposTable/ReposTable.tsx
Due: format, lint, type-check

Add FilesTable component and implement files page
  apps/web/src/app/plexus/[id]/files/page.tsx
  packages/design/src/components/files-table.css
  packages/design/src/components/page-header.css
  packages/ui/package.json
  packages/ui/src/FilesTable/FilesTable.tsx
  packages/ui/src/PageHeader/PageHeader.tsx
Due: format, lint, type-check

Add files-table.css export to design package
  packages/design/package.json
Due: format

Add pagination, filtering, and sorting to Add Repository dialog
  apps/web/src/app/api/github/repositories/route.ts
  packages/design/src/components/add-repo-dialog.css
  packages/ui/src/AddRepoDialog/AddRepoDialog.tsx
Due: format, lint, type-check

Link repo name to details page instead of GitHub
  packages/ui/src/ReposTable/ReposTable.tsx
Due: format, lint, type-check

Add React Flow visualization to dashboard page
  apps/web/package.json
  apps/web/src/app/plexus/[id]/dashboard/RepoFlowGraph.tsx
  apps/web/src/app/plexus/[id]/dashboard/dashboard.css
  apps/web/src/app/plexus/[id]/dashboard/page.tsx
  pnpm-lock.yaml
Due: format, lint, type-check

Fix engine Docker build by adding AI package
  apps/engine/Dockerfile
  packages/ai/package.json
  packages/ai/tsconfig.json
Due: format

Add environment variables to turbo.json for Vercel build
  turbo.json
Due: format

Add job recovery on engine startup
  apps/engine/src/index.ts
  apps/engine/src/queue/recovery.ts
Due: format, lint, type-check

Add Discord notifications and daily GitHub Action
  .github/workflows/daily-processing.yml
  apps/engine/src/cli/index.ts
  apps/engine/src/discord/service.ts
  apps/engine/src/embed/embed-sync.ts
  apps/engine/src/sync/repo-sync.ts
  apps/engine/src/weave/finder.ts
  turbo.json
Due: format, lint, type-check

Fix job recovery to reset progress counters
  apps/engine/src/queue/recovery.ts
Due: format, lint, type-check

Add DATABASE_URL to CI workflow for build step
  .github/workflows/ci.yml
Due: none

Implement ontology-first weave discovery (v2)
  apps/engine/package.json
  apps/engine/src/cli/index.ts
  apps/engine/src/weave/finder-v2.ts
  apps/engine/src/weave/index.ts
  apps/engine/src/weave/matcher.ts
  apps/engine/src/weave/ontology.ts
  apps/engine/src/weave/profiler.ts
  docs/WEAVE-DISCOVERY-PROBLEM-STATEMENT.md
  pnpm-lock.yaml
Due: format, lint, type-check

Add logs page, sync safeguards, and pragmatic semantic space docs
  apps/engine/src/embed/embed-sync.ts
  apps/engine/src/sync/file-sync.ts
  apps/web/src/app/plexus/[id]/logs/LogsClient.tsx
  apps/web/src/app/plexus/[id]/logs/logs.css
  apps/web/src/app/plexus/[id]/logs/page.tsx
  apps/web/src/app/plexus/[id]/weaves/WeavesClient.tsx
  apps/web/src/components/PlexusNav.tsx
  docs/PRAGMATIC-SEMANTIC-SPACE.md
  packages/db/prisma/schema.prisma
Due: format, lint, type-check

Implement philosophical profiling and schizosophy matching for weave discovery
  apps/engine/src/cli/index.ts
  apps/engine/src/weave/__tests__/philosophy.fixtures.ts
  apps/engine/src/weave/finder-v2.ts
  apps/engine/src/weave/philosophy.ts
  packages/db/prisma/schema.prisma
Due: format, lint, type-check

Implement philosophical profiling and schizosophy matching for weave discovery
  apps/engine/src/weave/philosophy.ts
Due: format, lint, type-check

Fix React Flow graph to properly update on data changes
  apps/web/src/app/plexus/[id]/dashboard/RepoFlowGraph.tsx
  apps/web/src/app/plexus/[id]/dashboard/dashboard.css
Due: format, lint, type-check

Add ability to delete repositories from plexus
  apps/web/src/app/api/plexus/[id]/repositories/[repoId]/route.ts
  apps/web/src/app/plexus/[id]/repos/ReposPageClient.tsx
  packages/design/package.json
  packages/design/src/components/button.css
  packages/design/src/components/delete-repo-dialog.css
  packages/design/src/components/repos-table.css
  packages/ui/package.json
  packages/ui/src/Button/Button.tsx
  packages/ui/src/DeleteRepoDialog/DeleteRepoDialog.tsx
  packages/ui/src/ReposTable/ReposTable.tsx
Due: format, lint, type-check

Integrate ELK layout for improved graph visualization
  apps/web/package.json
  apps/web/src/app/plexus/[id]/dashboard/RepoFlowGraph.tsx
  apps/web/src/app/plexus/[id]/dashboard/dashboard.css
  apps/web/src/hooks/useElkLayout.ts
  pnpm-lock.yaml
Due: format, lint, type-check

Add pipeline runner script for sync → embed → weave workflow
  apps/engine/scripts/run-pipeline.sh
Due: none
